@use '../../styles/mixins.scss' as *;

.hero__container {
  margin-top: 160px;
}

.hero__title {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: var(--color-white);
  text-transform: uppercase;
  padding-bottom: 12px;
}

.hero__desc {
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-secondary);
  padding-bottom: 24px;
}

.hero__freeuse {
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-white);
  padding-top: 12px;
}

::placeholder {
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}

.hero__input {
  display: flex;
  align-items: center;
  width: 500px;
  background-color: var(--bg-input);
  border-radius: 4px;
}

.hero__email {
  flex: 1;
  background: transparent;
  padding: 25px 16px;
  border: none;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero__button {
  background: #57e1ff;
  box-shadow: 0px 0px 4px 0px #57e1ff;
  border: 1px solid #57e1ff;
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--bg-primary);
  text-transform: uppercase;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 4px;
}
