@use '../../styles/mixins.scss' as *;

.hero {
  position: relative;

  &__container {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 8rem;
    position: relative;

    @include respond(phone) {
      margin-top: 33px;
      flex-direction: column;
      gap: 33px;
    }

    @include respond(tablet) {
      gap: 4rem;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__b-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include respond(phone) {
      width: 70%;
      
    }
  }

  &__title {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: var(--color-white);
    text-transform: uppercase;
    padding-bottom: 12px;

    @include respond(phone) {
      font-size: 35px;
      line-height: 44px;
    }

    @include respond(tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__desc {
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-secondary);
    padding-bottom: 24px;

    @include respond(tablet) {
      font-size: 14px;
    }
  }

  &__freeuse {
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-white);
    padding-top: 12px;
    padding-bottom: 134px;

    @include respond(tablet) {
      padding-bottom: 80px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 4px;

    @include respond(phone) {
      width: 400px;
    }

    @include respond(tablet) {
      width: 450px;
    }
  }

  &__button {
    background: #57e1ff;
    box-shadow: 0px 0px 4px 0px #57e1ff;
    border: 1px solid #57e1ff;
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--bg-primary);
    text-transform: uppercase;
    padding: 16px 24px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;

    @include respond(tablet) {
      padding: 14px 20px;
    }
  }

  &__right {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      @include respond(tablet) {
        width: 80%;
        margin-inline: auto;
      }
    }

    @include respond(phone) {
      order: -1;
    }
  }
}

::placeholder {
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}
